
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: aliceblue;
}


#body-container{
     background-image: url('fYOvOr1.png');
     background-size: cover;        /* Makes it fill the screen */
  background-position: center;   /* Centers the image */
  background-repeat: no-repeat;  /* Avoids repetition */
  height: 100vh;
    
}


.top-container{
    width: 100%;
    height: 50px;
    background-color: blue;
    display: flex;
}




.top-container-left{
    width: 100%;
    background-color: brown;
}


.top-container-right{
    width: 100%;
    background-color: pink;
}



.display-containers{
    display: flex;
}



.container-left,
.container-mid,
.container-right {
    width: 33.33%;
}


.container-left,
.container-mid,
.container-right {
    flex: 1;
    border: 1px solid aliceblue;
    background-color: black;
    height: 90vh;
    padding: 1%;
}


#terminal {
    width: 100%;
    height: 300px;
    background: black;
    color: #00ff00;
    font-family: monospace;
    padding: 10px;
    

    /* This is the magic line */
    white-space: pre-wrap;
    outline: none;
}
